numpy==1.26.4
scipy==1.15.3
pandas==2.3.3
sympy==1.14.0
pymatgen==2024.4.13
matplotlib==3.7.1
plotly==6.6.0
monty==2025.3.3
tqdm==4.67.3
ipywidgets==8.1.8
scikit-learn==1.7.2
PyWavelets==1.8.0
ase==3.26.0
tensorflow==2.16.2
